<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Code Talker</title>
		<meta name="description" content="Code Talker" />
		<meta name="keywords" content="on scroll, effect, slide in, layout, template, transition, javascript" />
		<meta name="author" content="Karan" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<script src="/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				
				<h1>Code Talker</h1><span> <span class="bp-icon bp-icon-about" data-content="It's a collaborative platform with a realtime code editor so that you can share what you are coding/typing on the screen with other people at the same time."></span></span>
				<nav>
					
					<a href="/login" class="bp-icon bp-icon-next" data-info="Login Here"><span>Login Here</span></a>
					<a href="/register" class="bp-icon bp-icon-archive" data-info="Register Here"><span>Register Here</span></a>
				</nav>
			</header>	
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Real Time Collaboration</h2>
						<p>With our fully collaborative editor,multiple users can edit the same files as other users and remain in sync 100% of the time. ​The feature of real-time collaboration will be integrated through operational technologies. We will be implementing this using nodeJs. ​CodeTalker will be built on javascript. Significant logic needs to be shared between client and server for coding in javascript. ​</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/1.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="images/2.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>VIDEO & TEXT CHAT​</h2>
						<p>We will have built-in multi-person video, voice and text chat to the dashboard of the editor, so you can communicate easily. This feature is implemented through​ socket.Io which enables event-based communication. ​</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>BUILT IN GIT SUPPORT​</h2>
						<p>
Integrated GitHub service such that you can push your code to your Github profile in a single click.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/3.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="images/4.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>Technologies Used</h2>
						<p>NodeJs - Server is built on NodeJs.<br>
							MongoDb - Database is build on JSON based NoSql MongoDb.<br>
							Socket.io - It enables real-time, bidirectional and event-based communication.
						 </p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Workspace</h2>
						<p>Create multiple workspaces and access list. Collab with multiple different projects.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="images/5.png" alt="img01">
					</figure>
				</section>
				
			</div>
		</div>
		<script src="/js/classie.js"></script>
		<script src="/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
